.number-card{
    display: inline-block;
    width: auto;
    margin: 20px auto 1px;
    background: #ccf1ff;
    padding: 11px 20px;
    border-radius: 6px;
    line-height: 45px;
    font-weight: 500;
    color: #002535;
    font-size: 20px;
}

.dashboard-inner-card{
    min-height: 378px;
}

.analist-box{
    text-align: center;
    background: #dffff6;
    padding: 5px;
    margin-bottom: 10px;
}
.analist-bg{
    background: #e7e6ff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}