label {
    font-size: 14px;
}
.form-group {
    // margin-bottom: 0px;
}
div.mat-form-field-infix{
    padding: 0px !important;
    border-top: 0px !important;
}

.download-icon{margin-top:-4px;}

.client-manage-radio mat-radio-group{
    background-color: transparent;
    border: 0;
}

.align-item-center{
    align-items: center;
}

.client-manage-label-style label{
    font-size: 16px;
    margin-bottom: 0;
}

.col mat-form-field{
    border: 1px solid;
    padding: 0.1rem 0.5rem;
    background: #fff;
}
::ng-deep .col mat-form-field .mat-form-field-wrapper{
    padding: 0;
}
::ng-deep .col mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix{
    border: 0;
}
::ng-deep .col mat-form-field .mat-form-field-wrapper .mat-form-field-underline{
    height: 0;
}