<mat-toolbar color="primary" class=" position-fixed">
  <!-- <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span><img src="assets/img/leadangel-white-logo.png"
    [width]="236" alt="LeadAngel-logo" title="LeadAngel"></span>
  <span class="example-spacer"></span>
 
  <span class="user-text">User Name Here</span>  <button mat-icon-button [matMenuTriggerFor]="menu">
     <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="right-nav-drop">
    <button mat-menu-item >
        <mat-icon class="text-success">vpn_key</mat-icon> <span>Change Password</span>
    </button>

    <button mat-menu-item >
      <mat-icon color="warn">exit_to_app</mat-icon> <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
  <app-leftnavbar></app-leftnavbar>
    </mat-drawer>
    <mat-drawer-content>
 <router-outlet></router-outlet>
    </mat-drawer-content>
   
  
  </mat-drawer-container>
