mat-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto; vertical-align: middle;
    }
  }

.enable{
    background: #5db310;
    color: #fff;
    padding: 0 10px 2px;
    border-radius: 3px;
    line-height: 19px;
    min-width: 70px;
    display: inline-block;
    text-align: center;
}

.disable{
    background: #ae6b07;
    color: #fff;
    padding: 0 10px 2px;
    border-radius: 3px;
    line-height: 19px;
    min-width: 70px;
    display: inline-block;
    text-align: center;
}

.alert-size{
    font-size:14px;
}