<div class="container">
    <div class="row justify-content-center ">
      <div class="col-md-12 col-lg-10 m-auto pt-50">
        <mat-card class="bg-theme p-0 mb-4">
          <div class="row">
            <div class="col-md-6 pt-md-5 mb-3">
              <div class="logo text-center"><img src="assets/img/leadangel-white-logo.png" alt="Vyakar Login" width="250">
              </div>
              <div class="visit-link d-none d-md-block text-center pt-5">Visit <a href="https://www.leadangel.com"
                  target="_blank">Leadangel.com</a></div>
            </div>
              <div class="col-md-6 pl-md-0">
                <div class="bg-white w-100 p-3 log login-card">
                  <div class="mt-login-panel text-center"><i class="material-icons text-ex-larg la-theme-color">account_circle</i></div>
                  <mat-card-title class="text-center">LeadAngel Login</mat-card-title>
                  <form class="p-3 pt-0" >
                  
                    <mat-form-field appearance="outline"> 
                      <mat-label >Email ID</mat-label>
                      <input matInput required >
                      <mat-icon color="grey" matSuffix>email</mat-icon>
                      
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput required type="password">
                      <mat-icon matSuffix color="grey">vpn_key</mat-icon>
                    </mat-form-field>
                    <mat-checkbox  color="accent" name="rememberMe">Remember Me!</mat-checkbox>
  
                    <div class="row mt-3">
                      <div class="col-6">
                        <div class="spinner-button">
                          <button mat-raised-button class="btn-block"  color="primary" type="submit">Login</button>
                          <!-- <mat-spinner  strokeWidth="3" [diameter]="20"></mat-spinner> -->
                        </div>
                      </div>
                      <div class="col-6 text-right "> <button mat-button type="button" class="left-margin">Forgot
                          Password ?</button></div>
                    </div>
  
                  </form>
                </div>
              </div>
          </div>
  
        </mat-card>
  
  
      </div>
    </div>
  </div>